<div id="sidebar" class="<%= @navbar_opened_class %> flex-shrink-0 d-none d-<%= @breakpoint_navbar_expand %>-block">
  <div class="mt-1">
    <div class="m-3">
      <%= @navbar.logo if @navbar.logo.present? %>
    </div>
    <% if user_signed_in? %>
      <span class="d-inline-block px-3 text-end text-light"><%= Current.user %></span>
      <span class="d-block px-3 text-secondary">
        <% if Current.user.user_accounts_without_tenant.count > 1 %>
          <%= link_to ActsAsTenant.current_tenant, [:users, ActsAsTenant.current_tenant] if ActsAsTenant.current_tenant.present? %>
          <%= link_to users_account_switcher_path do %>
            <% if ActsAsTenant.current_tenant.present? %>
              (Cambiar)
            <% else %>
              Elegir cuenta
            <% end %>
          <% end %>
        <% else %>
          <%= link_to ActsAsTenant.current_tenant, [:users, ActsAsTenant.current_tenant] if ActsAsTenant.current_tenant.present? %>
        <% end %>
      </span>
      <hr>
    <% end %>
    <ul class="list-unstyled ps-0">
      <% @navbar.sidebar.each do |entry| %>
        <% next if @navbar.hide_entry?(entry) %>

        <li class="mb-1">
          <a
            href="<%= entry[:path] %>"
            class="
              d-inline-flex text-decoration-none pg--nav-button
              <%= @navbar.active_entry?(entry, request) ? 'active' : '' %>"
            <%= entry[:attributes] %>
          >
            <%= entry[:title] %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
