<div id="sidebar" class="<%= @navbar_opened_class %> flex-shrink-0 d-none d-<%= @breakpoint_navbar_expand %>-block">
  <div class="mt-1">
    <div class="m-3">
      <%= @navbar.logo if @navbar.logo.present? %>
    </div>
    <% if user_signed_in? %>
      <span class="d-inline-block px-3 text-end text-light"><%= Current.user %></span>
      <% if Rails.env.development? %>
        <%= link_to users_account_switcher_path do %>
          <span class="d-block px-3 text-secondary">Tenant: <%= ActsAsTenant.current_tenant || 'Global' %></span>
          <span class="d-block px-3 text-secondary">Cuenta: <%= Current.account || 'Global' %></span>
        <% end %>
      <% end %>
      <hr>
    <% end %>
    <ul class="list-unstyled ps-0">
      <% @navbar.sidebar.each do |entry| %>
        <% next if @navbar.hide_entry?(entry) %>

        <li class="mb-1">
          <a
            href="<%= entry[:path] %>"
            class="
              d-inline-flex text-decoration-none pg--nav-button
              <%= @navbar.active_entry?(entry, request) ? 'active' : '' %>"
            <%= entry[:attributes] %>
          >
            <%= entry[:title] %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
