<h2><%#= t "devise.invitations.edit.header" %></h2>

<h3>
<%= resource.invited_by %>
 te invitó a su cuenta en ProcuraBien
</h3>
<% if User.require_password_on_accepting %>
<p>
  Para aceptar la invitación e ingresar al sistema por favor completá los siguientes datos:
</p>
<% end %>
<%= pg_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :invitation_token %>

  <div class="form-inputs">
    <% if f.object.class.require_password_on_accepting %>
      <%= f.input :email, disabled: true %>
      <%= f.input :nombre, required: true, autofocus: true %>
      <%= f.input :apellido, required: true %>
      <%= f.input :password,
                  required: true,
                  hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    <% end %>
    <%= f.input :accept_terms, as: :boolean, label: t('attributes.accept_terms').html_safe, error_prefix: '' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
  </div>
<% end %>
